html,body
{
    width: 100%;
    height: calc(100% - 100px);
}
.login
{
    background-color: white;
    width: auto;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 50px;
    padding-left: 5%;
    padding-top: 2%;
}
.img-login
{
    width: auto;
    height: auto;
    margin-left: 45%;
    margin-right: 35%;
    margin-top: 100px;
}