@media screen and (max-width:1260px ) {
    .buscador
    {
        margin-left: 10px;
    }
}

@media screen and (max-width:1210px ) {
    .contenido-central
    {
        width: 84%;
    }
    .contenedor_central
    {
        width: 100%;
        margin-left: 0;
    }
    .contenedor-lateral
    {
        width: 100%;
        height: 200px;
    }
    .buscador-asignacion-boton
    {
        width: 100%;
    }
    #contenedor_mapa
    {
        width: 100% !important;
    }
    .monitoreo_buscador
    {
        margin-left: 0 !important;
    }
}

@media screen and (max-width:1132px ) {
    .contenido-central
    {
        width: 84%;
    }
    .pie-center
    {
        width: 45%;
    }
}

@media screen and (max-width:1164px ) {
    .contenido-central
    {
        width: 82%;
    }
}

@media screen and (max-width:1006px ) {
    .contenido-central
    {
        width: 80%;
    }
}

@media screen and (max-width:905px ) {
    .contenido-central
    {
        width: 79%;
    }
}
@media screen and (max-width:862px ) {
    .contenido-central
    {
        width: 78%;
    }
}
@media screen and (max-width:823px ) {
    .contenido-central
    {
        width: 75%;
    }
}

@media screen and (max-width:800px ) {
    .contenido-central
    {
        width: 100%;
    }
    .fecha
    {
        display: none;
    }
    .logOut
    {
        display: none;
    }
    #salir
    {
        display: block;
    }
    .menu-telefono
    {
        display: inline;
    }
    #menu
    {
        position: absolute;
        z-index: 2;
        display: none;
    }
    .contenedor-info
    {
        width: 400px;
    }
    #btn_menu
    {
        display: none;
    }
    .contenedor-servicios
    {
        display: none;
    }
    #servicios_pendientes_link
    {
        display: block;
        width: 100%;
        padding: 0;
    }
    .servicios_pendientes{
        left: 0;
        width: 100%;
        height: 100%;
    }
    #botonCancelar
    {
        display: block;
    }
    
    .indicador-dashboard
    {
        
    }
    .menu
    {
        width:50px;
    }
    .contenedor-dashboard
    {
        width: 100%;
        padding-top: 20px;
    }
    .indicador-dashboard
    {
        margin: 0;
        width: calc(100% - 0px);
    }
    
    #contenedor_mapa
    {
        margin-left: 0 !important;
    }
    .buscador-asignacion
    {
        height: auto;
        padding-bottom: 20px;
    }
    
    .asignacion_buscador
    {
        float: left;
    }
    .buscador-pasajero
    {
        height: auto;
        padding-bottom: 20px;
    }
    .contenedor_agregar
    {
        padding-left: 15px;
        width: 100%;
        margin-left: 0;
        height: auto;
        padding-bottom: 50px;
    }
    .input_asignar_agregar,.input_asignar_agregar_grande
    {
        width: 80%;
    }
    .contenedor_editar
    {
        padding-left: 15px;
        width: 100%;
        margin-left: 0;
        height: auto;
        padding-bottom: 20px;
    }
    .input_asignar_editar {
        width:200px;
    }
    .contenedor_central
    {
        margin-top: 200px;
    }
    
    .fila_contenedor_servicio div
    {
        font-size: 12px;
    }
    .mini_tab{
        display: none;
    }
    
}