.contendor_mapa
{
    position: relative;
    margin-left: 20%;
    width: 80%;
    height: calc(100% - 125px);
}
.map 
{
    height: 100%;
    width: 100%;
    display: none;
}

.buscar
{
    display: none;
}
.pestana
{
    background-color: #cccccc;
    text-align: center;
    width: 50%;
    height: 26px;
    float: left;
    padding-top: 10px;
    cursor: pointer;
}
.pestana-activa
{
    cursor: initial;
    background-color: orange;
}

