.contenedor_central
{
    background-color: #4e4e4e;
    width: 100%;
    height: calc(100% - 126px);
}
.central
{
    width: 100%;
    width: 100%;

}
.totales
{
    margin: 1px 1px 1px 1px;
    width: 33%;
    height: 200px;
    border: 1px solid white;
}
.conductores
{
    margin: 1px 1px 1px 1px;
    width: 33%;
    height: 200px;
    border: 1px solid white;
}
#container {
  margin-top: 30px;
  /*padding: 10px;*/
}
body, html {
  background-color: #111;
}

