body{
    color:white !important;
}
.contenedor_central
{
    background-color: #4e4e4e;
    width: 100%;
    height: calc(100% - 126px);
}

.panel1
{
    float: left;
    margin: 1px 1px 1px 1px;
    width: calc(33% - 2px);
    height: calc(100% - 24px);
    border: 1px solid orange;
}
.panel2
{
    float: left;
    margin: 1px 1px 1px 1px;
    width: calc(33% - 2px);
    height: calc(100% - 24px);
    border: 1px solid orange;
}
.panel3
{
    float: left;
    margin: 1px 1px 1px 1px;
    width: calc(33% - 2px);
    height: calc(100% - 24px);
    border: 1px solid orange;
}
.totales
{
    width: 100%;
    height: 42%;
}
.conductores
{
    width: 100%;
    height: 58%;
}
.tabla-est
{
    
}

.fecha{
    height: 20px;
}

.activos
{
  margin-left: 30%;
  width:200px !important;
  height:150px !important;

}
#pie-chart
{
  margin-top: 20%;

}

#myChart
{
  width:420px !important;
  height:295px !important;
}

.cont-total
{
    margin-top: 10%;
    margin-left: 10%;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border:solid 10px orange;
    float: left;
}
.total
{
    font-size: 50px;
    transform: translate(39%,45%);
}

.tabla-est
{
    margin-top: 10%;
    margin-right: 10%;
    float: right;
    text-align: center;
}
.tabla-est th,.tabla-est td
{
    border: solid 1px white;
}